*{
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  font-size: large;
  font-weight: 900;
  padding-top: 3px;
  padding-bottom: 3px ;
}

window.root{
  background-color:transparent;
}

@import url("./modules/clock.css");

/* cpu usage transition properties */
@import url("./modules/cpu.css");

/* memory transitions */
@import url("./modules/memory.css");

/* volume control */
@import url("./modules/audio.css");

/* temperature transitions */
@import url("./modules/temperature.css");

/* battery transition properties */
@import url("./modules/battery.css");

/* additional warning animations  */
@import url("./modules/keyframes/animation.css");
@import url("./modules/keyframes/warning.css");
@import url("./modules/keyframes/critical.css");
@import url("./modules/keyframes/insane.css");