#clock {
  background-color: #ffcad4;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background: radial-gradient(circle, 
    rgba(211,160,255,1) 0%, 
    rgba(200,140,245,1) 12%, 
    rgba(245,175,255,1) 19%, 
    rgba(255,185,255,1) 20%, 
    rgba(230,145,255,1) 24%, 
    rgba(255,215,255,1) 36%, 
    rgba(240,180,255,1) 37%, 
    rgba(210,165,255,1) 48%, 
    rgba(255,255,255,1) 52%, 
    rgba(255,180,255,1) 53%, 
    rgba(230,160,255,1) 59%, 
    rgba(210,140,255,1) 66%, 
    rgba(180,130,255,1) 67%, 
    rgba(160,120,255,1) 68%, 
    rgba(205,220,255,1) 77%, 
    rgba(180,200,255,1) 78%, 
    rgba(160,190,255,1) 82%, 
    rgba(220,230,255,1) 83%, 
    rgba(210,220,255,1) 90%, 
    rgba(200,210,255,1) 100%);
background-size: 300% 300%;
animation: airFlow 30s ease infinite;
}
