#memory{
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  /* background-color: #e5d9f2; */
  /* background-color: #d8e2dc; */

  background: radial-gradient(circle, 
    rgba(203,247,247,1) 0%, 
    rgba(173,232,255,1) 12%, 
    rgba(150,226,255,1) 19%, 
    rgba(200,255,238,1) 20%, 
    rgba(140,190,255,1) 24%, 
    rgba(140,255,255,1) 36%, 
    rgba(150,245,255,1) 37%, 
    rgba(170,245,255,1) 48%, 
    rgba(200,255,255,1) 52%, 
    rgba(160,245,255,1) 52%, 
    rgba(140,255,245,1) 59%, 
    rgba(120,230,255,1) 66%, 
    rgba(180,210,255,1) 67%, 
    rgba(200,255,240,1) 68%, 
    rgba(150,255,255,1) 77%, 
    rgba(140,245,255,1) 78%, 
    rgba(130,245,255,1) 82%, 
    rgba(180,220,255,1) 83%, 
    rgba(120,240,255,1) 90%, 
    rgba(110,240,255,1) 100%);
background-size: 300% 300%;
animation: airFlow 30s ease infinite;
}





#memory.heavy{
    background: radial-gradient(circle, 
    rgba(255,200,220,1) 0%, 
    rgba(255,170,190,1) 20%, 
    rgba(255,150,160,1) 40%, 
    rgba(255,130,140,1) 60%, 
    rgba(255,110,120,1) 80%, 
    rgba(255,90,100,1) 100%);
background-size: 300% 300%;
animation: airFlow 15s cubic-bezier(0.42, 0, 0.58, 1) infinite;

}
#memory.warning{
    background: radial-gradient(circle, 
    rgba(163,255,122,1) 0%, 
    rgba(153,244,112,1) 20%, 
    rgba(183,255,103,1) 40%, 
    rgba(255,245,68,1) 60%, 
    rgba(255,198,55,1) 80%, 
    rgba(255,178,42,1) 100%);
background-size: 300% 300%;
animation: airFlow 15s cubic-bezier(0.42, 0, 0.58, 1) infinite;

}
#memory.insane{
    background: radial-gradient(circle, 
    rgba(194,255,202,1) 0%, 
    rgba(184,249,162,1) 20%, 
    rgba(212,255,156,1) 40%, 
    rgba(255,245,128,1) 60%, 
    rgba(255,200,100,1) 80%, 
    rgba(255,170,85,1) 100%);
background-size: 300% 300%;
animation: airFlow 15s cubic-bezier(0.42, 0, 0.58, 1) infinite;

}
