@keyframes critical {
  0% {
      background-position: 100% 50%;
  }
  25% {
      background-position: 80% 50%;
  }
  50% {
      background-position: 60% 50%;
  }
  75% {
      background-position: 40% 50%;
  }
  100% {
      background-position: 20% 50%;
  }
}